click==7.1.2
future==0.18.2
importlib-metadata==3.7.0
Jinja2==2.11.3
joblib==1.0.1
livereload==2.6.3
lunr==0.5.8
Markdown==3.3.4
MarkupSafe==1.1.1
mike==0.6.0
mkdocs==1.2.3
mkdocs-macros-plugin==0.5.5
mkdocs-material==7.0.3
mkdocs-material-extensions==1.0.1
nltk==3.6.6
packaging==20.9
Pygments==2.8.0
pymdown-extensions==8.1.1
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.4.1
regex==2020.11.13
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
six==1.12.0
termcolor==1.1.0
tornado==6.1
tqdm==4.58.0
typing-extensions==3.7.4.3
zipp==3.4.0
